<h1>Latest Pastries hot out of the oven!</h1>
	
	<section class="pastries">
	<!-- @pastries.each do |pastry| .... end is called a loop -->
		<% @pastries.each do |pastry| %>

			<div class="pastry">
				<p><%= pastry[:name] %></p>
				<p><%= pastry[:price_in_pence] %></p>
			</div>

		<% end %>
	</section>